*
{
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
}
.top_banner_text
{
    background: #FFF500;
    align-items: center;
    padding: 10px 3%;
}
.heder_logo
{
    display: inline-block;
    font-size: 18px;
}
.top_banner_text > h4
{
    font-size: 26px;
    font-weight: bold;
}
.top_banner_text > h5
{
    font-size: 24px;
    font-weight: 500;
}
.top_banner_text > h4,h5
{
    display: inline-block;
    font: 30px/1.1em "Fira Sans",sans-serif;
    color: #222;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:0.8em ;
}
.btn
{
    display: inline-block;
    border: solid;
    background-color:rgb(34, 34, 34);
    color: white;
    border-color: black;
    text-decoration: none;
    font-family:"Fira Sans", sans-serif;
    padding: 10px 15px;
    margin-left:2em ;

}
.btn:hover
{
    transition: background 0.4s ease-in-out,border-color 0.4s ease-in-out,color 0.4s ease-in-out;
    color:black;
    background-color:transparent;
    border-color: black;
}



.lower_banner
{
    border: solid;
    border-width: 3px;
    border-color:whitesmoke;
}
.lower_banner img
{
    padding: 20px 0 0 0;
}
.lower_banner a:link
{
    text-decoration: none;
    color: #222
}
a:hover ul{
    display: block;
}
.header_logo
{
    margin: 0 0 0 44%;
    display:block;
    width: 300px;
}

.logo_slogan
{
    margin: 0 0 0 10%;
    display: block;
    color: #888;
    font-size: 11px;
    text-decoration: none;
}
.menu
{
    display: inline-block;
    color: black;
    margin: 1.5% 0 0 39%;
    letter-spacing: -0.8px;
    font-family:"Fira Sans", sans-serif;
    font-size: 15px;
}
.menu>li
{
    margin: 0 0 0 20px;
}
a
{
    text-decoration: none; 
}
.menu_item
{
    display: inline-block;    
}
.Level_item_1
{
    display: none;
    width: 145px;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
}
.Level_item_2
{
    display: none;
    width: 145px;
    height: 320px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
}
.Level_item_3
{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    height: 320px;
    left: 0;
    display: none;
}
.banner_row
{
    width: 1220px;
    height: 252px;
    padding: 30px 0 0 300px;
    display: inline-block;
}
.container
{
    width: 100%;
}
.container_2
{
    width: 106px ;
    display: inline-block;
}
.menu>li:hover ul
{
    display: block;
}
.menu>li:hover a
{
    text-decoration: underline; 
}
.li_text
{
    color: #888;
    line-height: 2;
    font-size: 15px;
    top: 0;
    display: inline-block;
}
.banner_row_img
{
    background-image: url(C:/Users/Идын/Documents/GitHub/apparelix-free.myshopify/pic/collection_bnr_1_380x240_crop_center.png);
    height: 240px;
    width: 380px;
    display: inline-block;
    margin: 0 0 0 300px;
    background-repeat: no-repeat;

}
.row_banner
{

}
.container
{
    width: 100%;
}