
body
{
    height: 4000px;
}
.banner_caption
{
    margin: 250px 0 0 20px;
}
.caption_text > h2
{
    position: absolute;
    bottom: 300px;
    left: 770px;
    text-align: center;
    font: 60px/1.1em "Fira Sans",sans-serif;
    color: #222;
    font-weight: 400;
    line-height: 1;
}
.caption_text > h3
{
    position: absolute;
    bottom: 280px;
    left: 25px;
    color: rgb(130, 130, 130);
    font-size: 15px;
    padding: 0 0 0 835px;
}

.BODY_btn
{
    display:inline-block;
    border: solid;
    background-color:rgb(34, 34, 34);
    color: white;
    border-color: black;
    text-decoration: none;
    font-size:15px;
    font-family:"Fira Sans", sans-serif;
    border-radius: 3px;
    padding: 10px 25px  10px 25px;
}
.BODY_btn:hover{
    transition: background 0.4s ease-in-out,border-color 0.4s ease-in-out,color 0.4s ease-in-out;
    color:black;
    background-color:transparent;
    border-color: black;
}
.btn_pos_1
{
    position: absolute;
    top: 690px;
    right: 950px;
}
.btn_pos_2
{
    position: absolute;
    top: 690px;
    right: 780px;
}


.section_homepage 
{
    
}
.h4_text
{
    display: inline-block;
    font-size:27px;
    font-family: 'Fira Sans', sans-serif;
    padding: 50px 0 0 860px;
}
.row
{
    margin: 50px 0 0 0;
}
.row_levels
{
    display: inline-block;
    margin: 0 0 0 25px;
}

.row_text_1
{
    position: absolute;
    left: 20px;
    display: inline-block;
    color: #222;
    font-size: 20px;
    margin: 600px 0 0 50px;
}

.row_text_2
{
    position: absolute;
    left: 650px;
    display: inline-block;
    color: #222;
    font-size: 20px;
    margin: 600px 0 0 50px;
}

.row_text_3
{
    position: absolute;
    left: 1280px;
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 600px 0 0 50px;
}


.row_levels:hover h6
{
    text-decoration: underline;
}







.center_banner
{

    margin: 70px 0 0 25px;
}
.center_banner>h3
{
    position: absolute;
    top: 2100px;
    left: 830px;
    color:#ffff;
}
.center_banner>h2
{
    position: absolute;
    top: 2150px;
    left: 800px;
    font: 60px/1.1em "Fira Sans",sans-serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.btn_pos_3
{
    position: absolute;
    top: 2270px;
    left: 800px;
}
.btn_pos_4
{
    position: absolute;
    top: 2270px;
    left: 950px;
}



.lower_center_banner
{
    display: inline-block;

}
.lower_center_banner_img
{
    margin: 40px 0 0 0;
    position: relative;
}
.lower_center_banner_item_1
{
    margin: 0 0 0 22px;
    display: inline-block;
}
.lower_center_banner_item_2
{
    margin: 0 0 0 20px;
    display: inline-block;
}

.lower_center_banner_item_1> h2
{
    position: absolute;
    color: white;
    bottom: 100px;
    left: 70px;

}
.lower_center_banner_item_2> h2
{
    position: absolute;
    color: white;
    bottom: 100px;
    left: 1000px;

}
.lower_center_banner_img a
{
    margin: 10px 0 0 30px;
}
.lower_center_banner_btn_pos_1
{
    position: absolute;
    top: 600px;
    right: 1700px;
}
.lower_center_banner_btn_pos_2
{
    position: absolute;
    top: 600px;
    right: 770px;
}
.lower_center_banner_btn
{
    display: inline-block;
    background-color:white;
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-size:15px;
    font-family:"Fira Sans", sans-serif;
    border-radius: 3px;
    padding: 15px 15px  15px 15px;
}
.lower_center_banner_btn:hover{
    transition: background 0.4s ease-in-out,border-color 0.4s ease-in-out,color 0.4s ease-in-out;
    background-color: rgb(34, 34, 34);
    color: white;
}
.lower_body_items
{
    position: relative;
    display: inline-block;
}
.sale
{
    position: absolute;
    bottom: 520px;
    left: 25px;
    border-color: red;
    background-color: red;
    color: white;
    border-radius:5px;
    padding: 5px;
    width: 40px;
}
.img_lower_banner
{
    margin: 0 0 0 20px;

}
.lower_body
{
    font: 15px/1.1em "Fira Sans",sans-serif;

}
.new
{
    position: absolute;
    color: white;
    bottom: 480px;
    left: 25px;
    border-color:#159ec9;
    background-color: #159ec9;
    color: white;
    border-radius:5px;
    padding: 5px;
    width: 40px;
}
.on_sale
{
    position: absolute;
    bottom: 440px;
    left: 25px;
    border-color: red;
    background-color: red;
    color: white;
    border-radius:5px;
    padding: 5px;
    width: 55px;
}
.Only_online
{
    position: absolute;
    bottom: 400px;
    left: 25px;
    border-color: white;
    background-color: white;
    color: black;
    border-radius:5px;
    padding: 5px;
    width: 79px;
}
.best_price
{
    position: absolute;
    bottom: 360px;
    left: 25px;
    border-color: white;
    background-color: white;
    color: #159ec9;
    border-radius:5px;
    padding: 5px;
    width: 79px;
}

.new_2
{
    position: absolute;
    color: white;
    bottom: 520px;
    left: 25px;
    border-color:#159ec9;
    background-color: #159ec9;
    color: white;
    border-radius:5px;
    padding: 5px;
    width: 40px;
}
.on_sale_2
{
    position: absolute;
    bottom: 480px;
    left: 25px;
    border-color: red;
    background-color: red;
    color: white;
    border-radius:5px;
    padding: 5px;
    width: 55px;
}
.best_price_2
{
    position: absolute;
    bottom: 440px;
    left: 25px;
    border-color: white;
    background-color: white;
    color: #159ec9;
    border-radius:5px;
    padding: 5px;
    width: 79px;
}
.lower_body>div
{
    margin-top: 70px;
}
.lower_body_items_text
{
    color: #373232;
    font: 15px "Fira Sans",sans-serif;
    padding: 0 0 0 80px;
}
.price
{
    padding-left: 35%;
}
.h4_text_2
{
    display: inline-block;
    font-size:27px;
    line-height: 2.5em;

    font-family: 'Fira Sans', sans-serif;
    padding: 100px 0 0 37%;
}
.item__newsletter>p
{
    padding-left: 30%;
    line-height: 3.5em;

    font-family: 'Fira Sans', sans-serif;
    color: #888888;
}
 .form_wrapper {
    max-width: 380px;
    display: flex;
    position: relative;
    left: 800px;
}

.lower_body_banner
{
    position: relative;
    top: 70px;
    width: 1864px;
    height: 378px;
    background-color: #FFF500;
}

.lower_body_banner_text
{
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    left: 900px;
    bottom: 220px;
    font-size: 40px;
}
.lower_body_banner_text_2
{
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    left: 900px;
    bottom: 170px;
    font-size: 20px;
}
.btn_pos_5
{
    position: absolute;
    bottom: 100px;
    right: 835px;
}