
body
{
    height: 10000px;
}
.banner_caption
{
    margin: 250px 0 0 20px;
    background-image: url(C:/Users/Идын/Documents/GitHub/apparelix-free.myshopify/pic/image2_1810x700_crop_center.jpg);
    height: 700px;
    background-repeat: no-repeat;
}
.caption_text > h2
{
    padding: 250px 0 0 0;
    text-align: center;
    font: 60px/1.1em "Fira Sans",sans-serif;
    color: #222;
    font-weight: 400;
    line-height: 1;
}
.caption_text > h3
{
    color: rgb(130, 130, 130);
    font-size: 15px;
    padding: 0 0 0 835px;
}
.pos
{
    margin: 20px 0 0 790px;
}
.BODY_btn
{
    display: inline-block;
    border: solid;
    background-color:rgb(34, 34, 34);
    color: white;
    border-color: black;
    text-decoration: none;
    font-size:20px;
    font-family:"Fira Sans", sans-serif;
    border-radius: 3px;
}
.BODY_btn:hover{
    background-color: transparent;
    color: black;
    border-color: black;
}

.section_homepage 
{
    
}
.section_homepage>h4
{
    display: inline-block;
    font-size:27px;
    font-family: 'Fira Sans', sans-serif;
    padding: 50px 0 0 830px;
}
.row
{
    margin: 50px 0 0 0;
}
.row_level_1
{
    display: inline-block;
    background-image: url(C:/Users/Идын/Documents/GitHub/apparelix-free.myshopify/pic/img01_590x700_crop_center.jpg);
    height: 700px;
    width: 500px;
    margin: 0 20px 0 25px;
}
.row_level_2
{
    display: inline-block;
    background-image: url(C:/Users/Идын/Documents/GitHub/apparelix-free.myshopify/pic/img02_590x700_crop_center.jpg);
    height: 700px;
    width: 500px;
    margin: 0 0 0 140px;
}
.row_level_3
{
    display: inline-block;
    background-image: url(C:/Users/Идын/Documents/GitHub/apparelix-free.myshopify/pic/img03_590x700_crop_center.jpg);
    height: 700px;
    width: 500px;
    margin: 0 0 0 143px;
}
.row_text
{
    display: inline-block;
    color: #222;
    font-size: 20px;
    margin: 600px 0 0 50px;
}
.row_level_3>h6
{
    color: white;
}
.row_level_1:hover h6
{
    text-decoration: underline;
}

.row_level_2:hover h6
{
    text-decoration: underline;
}

.row_level_3:hover h6
{
    text-decoration: underline;
}

.center_banner
{
    background-image: url(C:/Users/Идын/Documents/GitHub/apparelix-free.myshopify/pic/image1_1810x700_crop_center.jpg);
    background-repeat: no-repeat;
    height: 700px;
    width: 1810px;
    margin: 70px 0 0 25px;
}
.center_banner>h3
{
    color: #fff;
    padding: 230px 0 0 800px;
}
.center_banner>h2
{
    font: 60px/1.1em "Fira Sans",sans-serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
}