footer
{
    width: 100%;
    border-top: 1px solid #e4e4e4;
    margin-top: 70px;
}
footer h2
{
    font-size: 15px;
}
.footer_menu
{
    margin-left:260px;
    vertical-align: top;
    text-align: center;
}
.footer_main
{
    padding-top: 69px;
    padding-bottom: 57px;
}
.footer_lower
{
    border-top: 1px solid #e4e4e4;
    height: 30px;
}
.footer_lower>h6
{
    font-size: 15px;
    padding-left: 10px;
}